.section-parent {
    height: 100vh;
    width: 100vw;
}
header {
    height: 10%;
    background: gray;
}
nav {
    height: 5%;
    background: lightcyan;
}
section {
    height: 75%;
    padding: 0 10%;
}
section article {
    height: 33.33%;
}
.article-one {
    background: lightsalmon;
}
.article-two {
    background: lightblue;
}
.article-three {
    background: lightgoldenrodyellow;
}
footer {
    height: 10%;
    background: gray;
}